# Data Processing
pandas

# API & Web Server
fastapi
uvicorn
python-multipart
slowapi

# AWS & Storage
boto3
botocore
PyYAML
pinecone-client

# Database
sqlalchemy
psycopg2-binary

# LLM & NLP
langchain
langchain-core
langchain-google-genai

# Utilities
python-dotenv
pydantic