# Data Processing
pandas

# API & Web Server
fastapi
uvicorn
python-multipart
slowapi

# AWS & Storage
boto3
botocore
PyYAML
pinecone

# Database
sqlalchemy
psycopg2-binary

# LLM & NLP
langchain>=1.2.24
langchain-core
langchain-google-genai
google-genai

# Utilities
python-dotenv
pydantic
pre-commit
